<%- model_class = VenueCategory -%>
<%- model_class_trans = VenueCategoryTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_venue_category_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path,:class => 'btn' %>
</div>

<table id="venue-categories" class="table table-striped display">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:sort_order) %></th>
      <th><%= model_class_trans.human_attribute_name(:name) %></th>
      <th><%= model_class_trans.human_attribute_name(:venues) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% vc_id = nil %>
    <% if @venue_categories.present? %>
      <% (0..@venue_categories.length-1).each do |index| %>
        <% if @venue_categories[index][:id] != vc_id %>
          <% if vc_id.present? %>
              </ul></td>
              <td>
                <%= link_to t('.edit_venues'),
                            venues_admin_venue_category_path(:id => @venue_categories[index-1].id), :class => 'btn btn-mini' %>
                <%= link_to t('.edit_venue_category'),
                            edit_admin_venue_category_path(@venue_categories[index-1].id), :class => 'btn btn-mini' %>
                <br />
                <%= link_to t('.delete_venue_category'),
                            admin_venue_category_path(@venue_categories[index-1].id),
                            :method => :delete,
                            :confirm => t('app.buttons.confirm'),
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>

          <% vc_id = @venue_categories[index][:id] %>

          <tr>
            <td><%= @venue_categories[index][:sort_order] %></td>
            <td><%= @venue_categories[index][:venue_category] %></td>
            <td><ul class="standard">
        <% end %>
        
        <% if @venue_categories[index][:venue].present? %>
          <li>
            <%= @venue_categories[index][:venue] %>
            <% if @venue_categories[index][:question_category_id].present? %>
              <span class="venue_has_questions">
                <%= " (#{t('app.common.venue_has_questions')})" %>
              </span>
            <% end %>
          </li>
        <% end %>      
      <% end %>
        </ul></td>
        <td>
          <%= link_to t('.edit_questions'),
                      venues_admin_venue_category_path(:id => @venue_categories[@venue_categories.length-1].id), :class => 'btn btn-mini' %>
          <%= link_to t('.edit_venue_category'),
                      edit_admin_venue_category_path(@venue_categories[@venue_categories.length-1].id), :class => 'btn btn-mini' %>
          <br />
          <%= link_to t('.delete_venue_category'),
                      admin_venue_category_path(@venue_categories[@venue_categories.length-1].id),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

