<%- model_class = ConventionCategory -%>
<%- model_class_trans = ConventionCategoryTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_convention_category_path,
              :class => 'btn btn-primary' %>
</div>

<table class="table table-striped display">
  <thead>
    <tr>
      <th><%= model_class_trans.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:right_to_accessibility) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @convention_categories.each do |convention_category| %>
      <tr>
        <td><%= convention_category.name %></td>
        <td><%= convention_category.right_to_accessibility %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_admin_convention_category_path(convention_category), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      admin_convention_category_path(convention_category),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


