<% title t('.title') %>

  <% if current_user.role? User::ROLES[:admin] %>
   <div class="span4">
 		<ul class="standard">
 			<li>
       <%= link_to t('.users'), admin_users_path %>
      </li>
 			<li>
       <%= link_to t('.question_categories'), admin_question_categories_path %>
      </li>
 			<li>
       <%= link_to t('.questions'), admin_questions_path %>
      </li>
 			<li>
       <%= link_to t('.venue_categories'), admin_venue_categories_path %>
      </li>
 			<li>
       <%= link_to t('.venues'), admin_venues_path %>
      </li>
 		</ul>
  </div>
  <% end %>
