<% title t('.title') %>

   <div class="span4">
 		<ul class="standard">
 			<li>
       <%= link_to t('.why_monitor'), admin_why_monitor_path %>
      </li>
 			<li>
       <%= link_to t('.users'), admin_users_path %>
      </li>
 			<li>
       <%= link_to t('.disabilities'), admin_disabilities_path %>
      </li>
 			<li>
       <%= link_to t('.districts'), admin_districts_path %>
      </li>
 			<!--li>
       <%= link_to t('.questions'), admin_question_categories_path %>
      </li>
 			<li>
       <%= link_to t('.venues'), admin_venue_categories_path %>
      </li-->
 		</ul>
  </div>

