<%- model_class = QuestionCategory -%>
<%- model_class_trans = QuestionCategoryTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_question_category_path,
              :class => 'btn btn-primary' %>
  <%= link_to t('helpers.links.admin'), admin_path,:class => 'btn' %>
</div>

<table id="question-categories" class="table table-striped display">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:sort_order) %></th>
      <th><%= model_class_trans.human_attribute_name(:name) %></th>
      <th><%= model_class_trans.human_attribute_name(:questions) %></th>
      <th><%= model_class.human_attribute_name(:is_common) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @question_categories.each do |cat| %>
      <tr>
        <td>
          <%= cat.sort_order %>
        </td>
        <td>
          <%= cat.name %>
        </td>
        <td>
          <ul class="standard">
            <% cat[:questions].each do |question| %>
              <li>
                <%= question[:question] %>
                <% if question[:evidence].present? %>
                  <%= " (#{question[:evidence]})" %>
                <% end %>
              </li>
            <% end %>
            <% if cat[:sub_categories].present? %>
              <% cat[:sub_categories].each do |sub| %>
                <li>
                  <%= sub.name %>
                  <% if sub[:questions].present? %>
                    <ul class="standard">
                      <% sub[:questions].each do |sub_question| %>
                        <li>
                          <%= sub_question[:question] %>
                          <% if sub_question[:evidence].present? %>
                            <%= " (#{sub_question[:evidence]})" %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            <% end %>

          </ul>
        </td>
        <td>
          <%= cat.is_common %>
        </td>
        <td>
          <%= link_to t('.edit_questions'),
                      questions_admin_question_category_path(cat), :class => 'btn btn-mini' %>
          <%= link_to t('.edit_question_category'),
                      edit_admin_question_category_path(cat), :class => 'btn btn-mini' %>
          <br />
          <%= link_to t('.delete_question_category'),
                      admin_question_category_path(cat),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>





