<% if cat[:questions].present? %>
    <% if is_sub_category %>
      <h5><%= cat.name %></h5>
    <% else %>
      <h4><%= cat.name %></h4>
    <% end %>

    <ul class="questions">
      <% cat[:questions].each do |question| %>
        <li>
          <div class="row-fluid">
            <div class="span4">
              <%= question[:question] %>
              <% if question[:validation_equation].present? %>
                (<%= question[:validation_equation] %>)
              <% end %>
            </div>
            <div class="span8">
              <%= t('.assigned_to') %>

              <ul class="assigned_to">
                <% @disabilities.select{|x| question[:disability_ids].split(',').index(x.id.to_s).present?}.map{|x| x.name}.each do |name| %>
                  <li><%= name %></li>
                <% end %>
              </ul>
            </div>
            <!--div class="span3">
              <% if question[:required_for_accessibility] == 1 %>
                <%= t('.required_for_accessiblity') %>
              <% end %>
            </div-->
          </div>
        </li>
      <% end %>
    </ul>

    <% if cat[:sub_categories].present? %>
      <% cat[:sub_categories].each do |sub| %>
        <%= render :partial => 'show_questions', :locals => {:cat => sub, :is_sub_category => true} %>
      <% end %>
    <% end %>
<% end %>
