<% title t('.title') %>

<div id="methodology">
  <% if @questions[:public][:common].blank? && @questions[:certified][:common].blank? %>
    <p>
      <%= t('.no_questions') %>
    </p>
  <% else %>
    <p>
      <%= t('.explanation1') %>
    </p>
    <p>
      <%= t('.explanation2') %>
    </p>
    <ul class="standard">
      <% @disabilities.each do |dis| %>
        <li><%= dis.name %></li>
      <% end %>
    </ul>


    <% if @questions[:public][:common].present? %>
      <h1><%= t('.header_public') %></h1>
      <%= render :partial => 'question_type', :locals => {:questions => @questions[:public]} %>
    <% end %>

    <% if @questions[:certified][:common].present? %>
      <h1><%= t('.header_certified') %></h1>
      <%= render :partial => 'question_type', :locals => {:questions => @questions[:certified]} %>
    <% end %>

  <% end %>
</div>
