<%- model_class = QuestionPairingDisability -%>
<%- model_class_trans = QuestionPairingDisabilityTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<table id="help-text-datatable" class="table table-striped display" 
        data-source="<%= admin_question_pairing_disabilities_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:certified_text) %></th>
      <th><%= model_class.human_attribute_name(:question_category) %></th>
      <th><%= model_class.human_attribute_name(:question_subcategory) %></th>
      <th><%= model_class.human_attribute_name(:question) %></th>
      <th><%= model_class.human_attribute_name(:disability_name) %></th>
      <th><%= model_class.human_attribute_name(:has_content) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


