<%- model_class = QuestionPairingDisability -%>
<%- model_class_trans = QuestionPairingDisabilityTranslation -%>
<% title t '.title', :default => model_class.model_name.human %>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_question_pairing_disabilities_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_question_pairing_disability_path(@question_pairing_disability), :class => 'btn' %>
  <%= link_to t('helpers.links.admin'), admin_path, :class => 'btn' %>
</div>

<ul id="qpd-names">
  <li>
    <strong>
      <%= model_class.human_attribute_name(:certified_text) %>:
    </strong>
    <%= @question_pairing_disability.certified_text %>
  </li>
  <li>
    <strong>
      <%= model_class.human_attribute_name(:disability_name) %>:
    </strong>
    <%= @question_pairing_disability.disability_name %>
  </li>
  <li>
    <strong>
      <%= model_class.human_attribute_name(:question_category) %>:
    </strong>
    <%= @question_pairing_disability.question_category %>
  </li>
  <% if @question_pairing_disability.question_subcategory.present? %>
    <li>
      <strong>
        <%= model_class.human_attribute_name(:question_subcategory) %>:
      </strong>
      <%= @question_pairing_disability.question_subcategory %>
    </li>
  <% end %>
  <li>
    <strong>
      <%= model_class.human_attribute_name(:question) %>:
    </strong>
    <%= @question_pairing_disability.question %>
  </li>
</ul>

<p><strong><%= model_class_trans.human_attribute_name(:content) %>:</strong></p>
<div class="tinymce_format">
  <%= simple_format_no_tags(@question_pairing_disability.content, {}, {sanitize: false}) %>
</div>



