<div id="front-page" class="row-fluid">
  <div class="span2" id="search">
    <h2><%= t('.header_filter') %>:</h2>

    <div class="filter_box">    
      <h3><%= t('.header_filter_disability') %></h3>
      <% if params[:eval_type_id].blank? %>
        <% if params[:list] == 'true' %>
        <%= select_tag(:filter_disability, 
            options_for_select(@disabilities.map{|x| ["#{x[:disability]} (#{x[:count]})", x.id]}, params[:evel_type_id]),
            :include_blank => true) %>
        <% end %>
        <ul>
          <% @disabilities.each do |disability| %>
            <li>
              <%= link_to "#{disability[:disability]} (#{disability[:count]})", params.merge(:eval_type_id => disability.id) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% 
          dis = @disabilities.select{|x| x.id.to_s == params[:eval_type_id].to_s} if params[:eval_type_id].present? 
        %>
        <p>
          <%= dis.first[:disability] %>
        </p>
        <p>
          <%= link_to t('.clear_filter'), params.merge(:eval_type_id => nil), :class => 'btn btn-mini' %>
        </p>
      <% end %>   
    </div>
    
    <div class="filter_box">
      <h3><%= t('.header_filter_venue') %></h3>
      <% if params[:venue_category_id].blank? %>
        <% if params[:list] == 'true' %>
        <%= select_tag(:filter_venue, 
            options_for_select(@venue_categories.map{|x| ["#{x[:venue_category]} (#{x[:count]})", x.id]}, params[:venue_category_id]),
            :include_blank => true) %>
        <% end %>
        <ul>
          <% @venue_categories.each do |cat| %>
            <li>
              <%= link_to "#{cat[:venue_category]} (#{cat[:count]})", params.merge(:venue_category_id => cat.id) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% 
          vc = @venue_categories.select{|x| x.id.to_s == params[:venue_category_id].to_s} if params[:venue_category_id].present? 
        %>
        <p>
          <%= vc.first[:venue_category] %>
        </p>
        <p>
          <%= link_to t('.clear_filter'), params.merge(:venue_category_id => nil), :class => 'btn btn-mini' %>
        </p>
      <% end %>
    </div>
    
    <div class="filter_box">
      <h3><%= t('.header_filter_district') %></h3>
      <% if params[:district_id].blank? || params[:district_id] == '0' %>
        <% if params[:list] == 'true' %>
        <%= select_tag(:filter_district, 
            options_for_select(@districts.map{|x| ["#{x[:district]} (#{x[:count]})", x.id]}, params[:district_id]),
            :include_blank => true) %>
        <% end %>
        <ul>
          <% @districts.each do |district| %>
            <li>
              <%= link_to "#{district[:district]} (#{district[:count]})", params.merge(:district_id => district.id) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% 
          d = @districts.select{|x| x.id.to_s == params[:district_id].to_s} if params[:district_id].present? 
        %>
        <p>
          <%= d.first[:district] %>
        </p>
        <p>
          <%= link_to t('.clear_filter'), params.merge(:district_id => 0), :class => 'btn btn-mini' %>
        </p>
      <% end %>
    </div>
    
    <% if params[:venue_category_id].present? || params[:eval_type_id].present? %>
      <p>
        <%= link_to t('.clear_filters'), root_path, :class => 'btn btn-mini' %>
      </p>
    <% end %>
  </div>
  <div class="span2"  id="search_results">
    <div id="selection_results">
      <h2><%= t('.header_table') %>:</h2>
      <% if @places.present? %>
        <% @places.each do |place| %>
          <div class="place-item">
            <h3>
              <%= link_to place[:place], place_path(place) %>
            </h3>
            <h4><%= place[:venue] %></h4>
            <% if place[:address].present? %>
              <p>
                <%= place[:address] %>
              </p>
            <% end %>
            <%= link_to t('app.common.view_place'), place_path(place), :class => 'view_more', 
              :title => t('app.common.view_place_title', :place => place[:place]) %>
            <%= link_to t('app.common.add_evaluation'), evaluation_place_path(place), :class => 'add_evaluation',
              :title => t('app.common.add_evaluation_title', :place => place[:place]) %>
          </div>
        <% end %>
      <% else %>
        <p>
          <%= t('.no_places') %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="span8">
    <a href="#footer" class="accessibly-hidden"><%= t('.jump.skip_map') %></a>
    <div id="map"></div>
  </div>
</div>
