<div id="front-page">
  <div class="row-fluid" id="front-page-container">

    <div class="span6 offset1 find-panel">
      <h1><%= t('app.common.slogan') %></h1>
      <% if @landing_page.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@landing_page.content) %>
        </div>
      <% end %>

      <ul class="text-links" role="menu">
        <li role="menuitem"><%= link_to(t('helpers.links.what_is_accessibility'), what_is_accessibility_path)  %></li>
        <li role="menuitem"><%= link_to(t('helpers.links.why_monitor'), why_monitor_path)  %></li>
        <li role="menuitem"><%= link_to(t('helpers.links.statistics'), stats_path)  %></li>
      </ul>

      <div class="span8 find-places-wrap"><%= link_to(t('helpers.links.find_places'), find_places_path, :class => 'find-places panel-button') %></div>
    </div>

    <div class="span4 offset1 eval-panel">
    
      <% if @how_report.present? %>
        <%= image_tag 'report-violation.png', :class => "pull-left" %>
        <h2><%= @how_report.title %></h2>
        <div class="clearfix"></div>

        <div class="tinymce_format">
          <%= simple_format_no_tags(@how_report.content) %>
        </div>
      <% end %>

      <%= link_to t('helpers.links.evaluate_place'), new_place_path, :class => 'eval-place panel-button' %>
    </div>

  </div>
</div>
