<div id="front-page" class="row-fluid">
  <div class="span2" id="search">
    <h2><%= t('.header_filter') %></h2>
    <ul>
      <% @venue_categories.each do |cat| %>
        <li>
          <%= link_to "#{cat[:venue_category]} (#{cat[:count]})", root_path(:venue_category_id => cat.id) %>
        </li>
      <% end %>
    </ul>
   
  </div>
  <div class="span2"  id="search_results">
    <div id="current_selections">
      <h2><%= t('.header_selections') %></h2>
      <% vc = @venue_categories.select{|x| x.id.to_s == params[:venue_category_id].to_s} if params[:venue_category_id].present? %>
      <% if vc.present? %>
        <p>
          <%= vc.first[:venue_category] %>
        </p>
        <p>
          <%= link_to t('.clear_filter'), root_path(:venue_category_id => nil), :class => 'btn btn-mini' %>
        </p>
      <% else %>
        <p>
          <%= t('.select_all') %>
        </p>
      <% end %>
    </div>
    <div id="selection_results">
      <h2><%= t('.header_table') %></h2>
      <% if @places.present? %>
        <% @places.each do |place| %>
          <div class="place-item">
            <h3>
              <%= link_to place[:place], place_path(:id => place.id) %>
            </h3>
            <h4><%= place[:venue] %></h4>
            <%= link_to t('.view_place'), place_path(:id => place.id), :class => 'view-more' %>
          </div>
        <% end %>
      <% else %>
        <p>
          <%= t('.no_places') %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="span8">
    <a href="#footer" class="hidenav"><%= t('.jump.skip_map') %></a>
    <div id="map"></div>
  </div>
</div>
