<div id="front-page">
  <div class="row-fluid">

    <div class="span4">
    
      <p>
        <%= t('app.common.num_places_overall', :num => @stats[:places_with_evals]) %>
      </p>

      <p>
        <%= link_to t('helpers.links.evaluate_place'), new_place_path, :class => 'add_evaluation' %>
      </p>

      <p>
        <%= label_tag :filter_venue, t('.venue_label') %>
        <%
          options = @venue_categories.map{|x| [x.name, x.id]}
          options.unshift([t('.venue_all'), '0'])
        %>
        <%= select_tag(:filter_venue, 
            options_for_select(options),
            :include_blank => true,
            :style => 'width: 100%') %>
      </p>

      <p>
        <%= link_to t('helpers.links.statistics'), '#', :class => 'view_more' %>
      </p>

    </div>

    <div class="span4">
      <h2><%= t('app.common.slogan') %></h2>
      <% if @page.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@page.content) %>
        </div>
      <% end %>
      <ul id="text-links" role="menu">
        <li role="menuitem"><%= link_to(t('helpers.links.what_is_accessibility'), what_is_accessibility_path)  %></li>
        <li role="menuitem"><%= link_to(t('helpers.links.why_monitor'), why_monitor_path)  %></li>
      </ul>
    </div>
    
    <div class="span4">
      <div class="iframe_container">
        <%
          vimeo_id = '97171156'
          vimeo_id = '97165638' if I18n.locale != :ka
        %>

        <%= link_to t('.skip_movie'), '#why_monitor_text', :class => 'accessibly-hidden' %>
        <iframe src="//player.vimeo.com/video/<%= vimeo_id %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
