<div id="front-page">
  <div class="row-fluid" id="front-page-container">

    <div class="span4 offset1">
      <h2><%= t('app.common.slogan') %></h2>
      <% if @page.present? %>
        <div class="tinymce_format">
          <%= simple_format_no_tags(@page.content) %>
        </div>
      <% end %>
      <ul id="text-links" role="menu">
        <li role="menuitem"><%= link_to(t('helpers.links.what_is_accessibility'), what_is_accessibility_path)  %></li>
        <li role="menuitem"><%= link_to(t('helpers.links.why_monitor'), why_monitor_path)  %></li>
      </ul>
    </div>

    <div class="span4 offset2">
    
      <p class="text-center">
        <%= link_to t('helpers.links.evaluate_place'), new_place_path, :class => 'add_evaluation' %>
      </p>

      <p>
        <%= label_tag :filter_venue, t('.venue_label'), :class => 'text-center' %>
        <%
          options = @venue_categories.map{|x| [x.name, x.id]}
          options.unshift([t('.venue_all'), '0'])
        %>
        <%= select_tag(:filter_venue, 
            options_for_select(options),
            :include_blank => true,
            :style => 'width: 100%') %>
      </p>

      <% if @stats.present? %>
        <p class="text-center">
          To date, <%= @stats[:places_with_evals] %> Places have been evaluated with the following results:
        </p>

        <div>
          <ul>
            <li>
              <span title="<%= t('app.common.certified_explanation') %>">
                <%= @stats[:certified_results]['count'] %> Expert Evaluations:
              </span>
              <%= format_summary_result(@stats[:certified_results], is_summary: true, is_certified: true) %>
            <li>
            <li>
              <span title="<%= t('app.common.public_explanation') %>">
                <%= @stats[:public_results]['count'] %> Public Evaluations:
              </span>
              <%= format_summary_result(@stats[:public_results], is_summary: true, is_certified: false) %>
            <li>
          </ul>
        </div>    

        <p class="text-center">
          <%= link_to t('helpers.links.statistics'), '#', :class => 'view_more' %>
        </p>
      <% end %>


    </div>

    

  </div>
</div>
