<%- model_class = Place -%>
<%- model_class_trans = PlaceTranslation -%>
<% title @place.name %>

<p><strong><%= model_class_trans.human_attribute_name(:district_id) %>:</strong>
<%= @place.district_id %></p>
<p><strong><%= model_class_trans.human_attribute_name(:venue_id) %>:</strong>
<%= @place.venue.name if @place.venue_id.present? %></p>

<div class="row-fluid">
  <div class="span6" id="venue_evalautions">
	  <% if @question_categories.present? %>
      <% 
        qc_id = nil 
        text = Hash.new
        text['3'] = 'Has and good'
        text['2'] = 'Has, but not good'
        text['1'] = 'Not have and needs'
        text['0'] = 'N/A'
        
        css_class = Hash.new 
        css_class['3'] = 'has-good'
        css_class['2'] = 'has-not-good'
        css_class['1'] = 'not-have'
        css_class['0'] = ''
      %>
      <% (0..@question_categories.length-1).each do |index| %>
        <% if @question_categories[index][:id] != qc_id %>
          <% if qc_id.present? %>
              </ul>
          <% end %>

          <% qc_id = @question_categories[index][:id] %>

          <h3><%= @question_categories[index][:question_category] %></h3>

          <ul class="question-results">
        <% end %>
        
          <li>
            <div>
              <%= @question_categories[index][:question] %>
            </div>
            <div class="<%= "selected-answer #{css_class[@place.place_evaluations[index].answer.to_s]}"%>">
              <%= text[@place.place_evaluations[index].answer.to_s] %>
            </div>
          </li>

        <% if index == @question_categories.length-1 %>
            </ul>
        <% end %>        
      <% end %>
    <% end %>
  </div>
  <div class="span6">
    <div id="map"></div>
  </div>
</div>
