<% title t('.title') %>

<% if @training_videos.present? %>
  <% @training_videos.each do |video| %>
    <div class="training-video-item span4">
      <div class="training-video-image">
        <%= image_tag video.survey_image.url(:medium), :alt => strip_tags(video.survey_image_description) %>
      </div>
      <div class="training-video-text">
        <h3><%= video.title %></h3>
        <%= simple_format_no_tags(video.description, {}, {sanitize: false}) %>
        <div class="training-video-watch">
          <%= link_to t('.watch_video'), training_video_path(video), :class => 'btn' %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>

  <p>
    <%= t('.no_videos') %>
  </p>

<% end %>