<%- model_class = Disability -%>
<%- model_class_trans = DisabilityTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_disability_path,
              :class => 'btn btn-primary' %>
</div>

<table class="table table-striped display">
  <thead>
    <tr>
      <th><%= model_class_trans.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:active_public) %></th>
      <th><%= model_class.human_attribute_name(:active_certified) %></th>
      <th><%= model_class.human_attribute_name(:sort_order) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @disabilities.each do |disability| %>
      <tr>
        <td><%= disability.name %></td>
        <td><%= disability.code %></td>
        <td><%= disability.active_public %></td>
        <td><%= disability.active_certified %></td>
        <td><%= disability.sort_order %></td>
        <td>
          <%= link_to t('app.buttons.edit'),
                      edit_admin_disability_path(disability), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.delete'),
                      admin_disability_path(disability),
                      :method => :delete,
                      :confirm => t('app.buttons.confirm'),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


