<% if data.present? %>
      <table class="table table-bordered overall_stats">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              <%= t('.accessible') %>
            </th>
            <th>
              <%= t('.partial_accessible') %>
            </th>
            <th>
              <%= t('.not_accessible') %>
            </th>
            <th class="total">
              <%= t('.total') %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if @disabilities.present? %>
            <% @disabilities.each do |disability| %>
              <tr>
                <td>
                  <%= disability.name %>
                </td>
                <%
                  class_accessible = data[:accessible][:disabilities][disability.id.to_s] == 0 ? '' : 'class=accessible' 
                  class_partial_accessible = data[:partial_accessible][:disabilities][disability.id.to_s] == 0 ? '' : 'class=partial_accessible' 
                  class_not_accessible = data[:not_accessible][:disabilities][disability.id.to_s] == 0 ? '' : 'class=not_accessible' 
                %>
                <td <%= class_accessible %>>
                  <%= data[:accessible][:disabilities][disability.id.to_s] %>
                </td>
                <td <%= class_partial_accessible %>>
                  <%= data[:partial_accessible][:disabilities][disability.id.to_s] %>
                </td>
                <td <%= class_not_accessible %>>
                  <%= data[:not_accessible][:disabilities][disability.id.to_s] %>
                </td>
                <td class="total">
                  <%= data[:total][:disabilities][disability.id.to_s] %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <tr class="total">
            <td>
              <%= t('.total') %>
            </td> 
            <%
              class_accessible = data[:accessible][:total] == 0 ? '' : 'class=accessible' 
              class_partial_accessible = data[:partial_accessible][:total] == 0 ? '' : 'class=partial_accessible' 
              class_not_accessible = data[:not_accessible][:total] == 0 ? '' : 'class=not_accessible' 
            %>
            <td <%= class_accessible %>>
              <%= data[:accessible][:total] %>
            </td> 
            <td <%= class_partial_accessible %>>
              <%= data[:partial_accessible][:total] %>
            </td> 
            <td <%= class_not_accessible %>>
              <%= data[:not_accessible][:total] %>
            </td> 
            <td class="total">
              <%= data[:total][:total] %>
            </td> 
          </tr>
        </tbody>
      </table>
<% end %>
