        <p>
          <%= t('.evaluation_instructions') %>
        </p>

        <%
          # make sure index starts after the public eval questions so there is no shared ids 
          @public_questions_count = @question_categories_public.map{|x| x[:questions].length}.inject(:+)
          @question_index = @public_questions_count-1
        %>
        
        <%= f.fields_for :place_evaluations, @place_evaluation_certified do |evaluation| %>
          <%= evaluation.hidden_field :user_id , :value => @place_evaluation_certified.user_id %>
          <%= evaluation.hidden_field :disability_id %>
          <%= evaluation.hidden_field :disability_ids , :value => @place_evaluation_certified.disability_ids %>
          <%= evaluation.hidden_field :is_certified , :value => @place_evaluation_certified.is_certified %>

          <ul class="question_categories">
            <% @question_categories_certified.each_with_index do |cat, index| %>
              <li>
                <%= link_to cat.name, "#question_category_#{cat.id}", :title => t('.question_category_link_title', :name => cat.name), :'data-id' => cat.id %>
              </li>
            <% end %>      
          </ul>

          <hr />


          <div id="question_category_lists">
            <% @question_categories_certified.each_with_index do |cat, index| %>
              <div id="<%= "question_category_#{cat.id}"%>" class="question_category accessibly-hidden" data-id="<%= cat.id %>" tabindex="0">
                <p class="not_know_instructions">
                  <span>
                    <%= t('.question_instructions') %>
                  </span>
                </p>

                <%= render :partial => 'certified_eval_form_questions', :locals => {:evaluation => evaluation, :cat => cat, :is_sub_category => false} %>
              </div>
            <% end %>
          </div>

          <hr />

          <ul class="question_categories">
            <% @question_categories_certified.each_with_index do |cat, index| %>
              <li>
                <%= link_to cat.name, "#question_category_#{cat.id}", :title => t('.question_category_link_title', :name => cat.name), :'data-id' => cat.id %>
              </li>
            <% end %>      
          </ul>


        <% end %>

