            <% if is_sub_category %>
              <h5><%= cat.name %></h5>
            <% else %>
              <h3><%= cat.name %></h3>
            <% end %>

            <div class="venue_evaluation">
              <%
                exists_hidden_attr = ''
              %>
              <% cat[:questions].each_with_index do |question, qidx| %>
                <% 
                  @question_index += 1
                  exists_class = ''
                  data_exists_id = ''
                  exists_hidden_attr = ''
                  data_exists_parent_id = ''
                  disable_button = ''
                  disable_label_class = ''
                  evidence_data = ''

                  # get the disability ids for this question
                  disability_ids = []
                  if question[:disability_id].present?
                    disability_ids << question[:disability_id]
                  end
                  if question[:disability_ids].present?
                    disability_ids << question[:disability_ids].split(',')
                  end
                  if disability_ids.present?
                    disability_ids.flatten!.map!{|x| x.to_i}.sort!
                  end
                  
                                    
                  # if this question has validation disable the radio buttons
                  if question[:validation_equation].present? 
                    disable_button = 'disabled=disabled' 
                    disable_label_class = "disabled"
                  end 
                  
                  # if this is exists question, mark it as one
                  if question[:exists_id].present?
                    exists_class = 'exists-question'
                    data_exists_id = "data-exists-id=#{question[:exists_id]}"
                  end
                  # if this is child of exists question, hide it
                  if question[:exists_parent_id].present?
                    exists_hidden_attr = 'aria-hidden=true'
                    data_exists_parent_id = "data-exists-parent-id=#{question[:exists_parent_id]}"
                  end
                  # if this questions has validation eq, create the data tags for the eq
                  if question[:validation_equation].present? 
                    evidence_data << "data-val-eq="
                    evidence_data << question[:validation_equation_wout_units]
                    evidence_data << " data-val-eq-units="
                    evidence_data << question[:validation_equation_units].downcase
                    evidence_data << " data-is-angle="
                    evidence_data << question[:is_evidence_angle].to_s.to_bool.to_s
                  end
                %> 
                <div id="<%= "question_#{question[:question_id]}" %>" class="<%= "venue_evaluation_question row-fluid #{exists_class}" %>" 
                    <%= exists_hidden_attr %> <%= data_exists_id %> <%= data_exists_parent_id %> 
                    data-disability-ids="<%= disability_ids %>" >
                    
                  <%= evaluation.fields_for :place_evaluation_answers, @place_evaluation_certified.place_evaluation_answers[(@question_index-@public_questions_count)] do |answer| %>

                    <% 
                      qp_id = "place_place_evaluations_attributes_0_place_evaluation_answers_attributes_#{@question_index}_question_pairing_id" 
                      qp_name = "place[place_evaluations_attributes][0][place_evaluation_answers_attributes][#{@question_index}][question_pairing_id]" 
                      input_id = "place_place_evaluations_attributes_0_place_evaluation_answers_attributes_#{@question_index}_answer_" 
                      input_name = "place[place_evaluations_attributes][0][place_evaluation_answers_attributes][#{@question_index}][answer]" 
                      evidence_id = "place_place_evaluations_attributes_0_place_evaluation_answers_attributes_#{@question_index}_evidence[num]" 
                      evidence_name = "place[place_evaluations_attributes][0][place_evaluation_answers_attributes][#{@question_index}][evidence[num]]" 
                    %>

                    <%#= answer.hidden_field :question_pairing_id , :value => question[:question_pairing_id] %>
                     <input id="<%= qp_id %>" name="<%= qp_name %>" type="hidden" value="<%= question[:question_pairing_id] %>">

                    <fieldset>
                      <div class="span4">
                        <legend>
                          <%= question[:question] %>
                          <% if question[:validation_equation].present? %>
                            (<%= question[:validation_equation] %>)
                          <% end %>

                          <% if question[:exists_id].present? %>
                            <i class="icon-plus tooltipster" title="<%= t('.tip_exists') %>"></i>
                          <% end %>
                          <% if question[:evidence1].present? %>
                            <i class="icon-pencil tooltipster" title="<%= t('.tip_evidence') %>"></i>
                          <% end %>
                          <% if question[:validation_equation].present? %>
                            <i class="icon-check tooltipster" title="<%= t('.tip_validation') %>"></i>
                          <% end %>
                          <% if question[:is_evidence_angle].to_s.to_bool == true %>
                            <i class="icon-resize-full tooltipster" title="<%= t('.tip_angle') %>"></i>
                          <% end %>
                        </legend>
                      </div>
                      <div class="span8">
                        <div class="row-fluid">
                          <div class="span2 evidence" <%= evidence_data %>>
                            <div class="evidence-message-container accessibly-hidden alert" aria-live="polite" aria-relevant="additions" >
                              <div class="evidence-message"></div>
                              <a href="<%= "#evidence1_#{question[:question_id]}" %>" class="accessibly-hidden"><%= t('.skip_to_evidence_input') %></a>
                              <% if qidx < cat[:questions].length-1 %>
                                <a href="<%= "#question_#{cat[:questions][qidx+1][:question_id]}" %>" class="accessibly-hidden"><%= t('.skip_to_next_question') %></a>
                              <% end %>
                            </div>
                            <% if question[:evidence1].present? %>
                              <div id="<%= "evidence1_#{question[:question_id]}" %>">
                                <div class="string control-group optional stringish" id="<%= evidence_id.gsub('[num]', '1_input') %>">
                                    <div class="controls">
                                      <input id="<%= evidence_id.gsub('[num]', '1') %>" name="<%= evidence_name.gsub('[num]', '1') %>" type="text" class="question-evidence" 
                                        maxlength="255" placeholder="<%= question[:evidence1]%>" size="10" title="<%= question[:evidence1] %>" >
                                    </div>
                                </div>
                              </div>
                            <% end %>
                            <% if question[:evidence2].present? %>
                              <div class="string control-group optional stringish" id="<%= evidence_id.gsub('[num]', '2_input') %>">
                                  <div class="controls">
                                    <input id="<%= evidence_id.gsub('[num]', '2') %>" name="<%= evidence_name.gsub('[num]', '2') %>" type="text" class="question-evidence" 
                                      maxlength="255" placeholder="<%= question[:evidence2]%>" size="10" title="<%= question[:evidence2] %>" >
                                  </div>
                              </div>
                            <% end %>
                            <% if question[:evidence3].present? %>
                              <div class="string control-group optional stringish" id="<%= evidence_id.gsub('[num]', '3_input') %>">
                                  <div class="controls">
                                    <input id="<%= evidence_id.gsub('[num]', '3') %>" name="<%= evidence_name.gsub('[num]', '3') %>" type="text" class="question-evidence" 
                                      maxlength="255" placeholder="<%= question[:evidence3]%>" size="10" title="<%= question[:evidence3] %>" >
                                  </div>
                              </div>
                            <% end %>
                            <% if question[:validation_equation].present? %>
                              <%= link_to t('.validate'), '#', :class => 'process_evidence tooltipster_right', 
                                  :title => t('.tip_validate', :val_eq => question[:validation_equation]) %>
                            <% end %>
                            <% if question[:is_evidence_angle].to_s.to_bool == true %>
                              <input id="<%= evidence_id.gsub('[num]', '_angle') %>" name="<%= evidence_name.gsub('[num]', '_angle') %>" type="hidden" class="question-evidence-angle" >
                            <% end %>
                          </div>
                          <div class="span2">
                             <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['yes']}" %>" <%= disable_button %>
                                  name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['yes'] %>">
                            <label class="yes <%= disable_label_class %>" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['yes']}" %>">
                              <i class="icon-thumbs-up icon-white "></i>
                              <%= t('app.common.answers.yes') %>
                            </label>
                          </div>
                          <div class="span2">
                            <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['no']}" %>" <%= disable_button %>
                                  name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['no'] %>">
                            <label class="no <%= disable_label_class %>" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['no']}" %>">
                              <i class="icon-thumbs-down icon-white"></i>
                              <%= t('app.common.answers.no') %>
                            </label>
                          </div>
                          <div class="span3 not-relevant">
                            <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['not_relevant']}" %>" 
                                  name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['not_relevant'] %>">
                            <label class="not_relevant" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['not_relevant']}" %>">
                              <i class="icon-remove icon-white"></i>
                              <%= t('app.common.answers.not_relevant') %>
                            </label>
                          </div>
                          <div class="span3">
                            <a class="eval-question-image" href="<%= "#image-modal-#{@question_index}"%>" role="button" data-toggle="modal">
                              <i class="icon-camera icon-white"></i>
                              <span data-upload="<%= t('app.common.eval_question_image.button') %>" 
                                  data-uploaded-1="<%= t('app.common.eval_question_image.button_uploaded_1') %>" 
                                  data-uploaded-many="<%= t('app.common.eval_question_image.button_uploaded_many') %>"><%= t('app.common.eval_question_image.button') %></span>
                            </a>
                            <div id="<%= "image-modal-#{@question_index}"%>" class="image-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="image-modal-header" aria-hidden="true">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3 id="image-modal-header"><%= t('app.common.eval_question_image.header') %></h3>
                              </div>
                              <div class="modal-body">
                                <p>
                                  <%= t('app.common.eval_question_image.description') %>
                                </p>
                                
                                <p>
                                  <%= t('app.common.eval_question_image.question') %>
                                  <br />
                                  <%= question[:question] %>
                                </p>
                                
                                <% 
                                  image_qp_id = "place_place_evaluations_attributes_0_place_evaluation_images_attributes_#{@question_index}_question_pairing_id" 
                                  image_qp_name = "place[place_evaluations_attributes][0][place_evaluation_images_attributes][#{@question_index}][question_pairing_id]" 
                                  image_file_id = "place_place_evaluations_attributes_0_place_evaluation_images_attributes_#{@question_index}_images[]" 
                                  image_file_name = "place[place_evaluations_attributes][0][place_evaluation_images_attributes][#{@question_index}][images][]" 
                                %>

                                <input id="<%= image_qp_id %>" name="<%= image_qp_name %>" type="hidden" value="<%= question[:question_pairing_id] %>">

                                <p>
                                  <input id="<%= image_file_id %>" multiple="multiple" name="<%= image_file_name %>" type="file" accept=".jpg,.jpeg">
                                </p>

                              </div>
                              <div class="modal-footer">
                                <a href="#" class="btn image-modal-close-buttons" data-type="cancel" data-dismiss="modal"><%= t('app.buttons.cancel') %></a>
                                <a href="#" class="btn btn-primary image-modal-close-buttons" data-type="save" data-dismiss="modal"><%= t('app.common.eval_question_image.continue_eval') %></a>
                              </div>
                            </div>
                          </div>
                        </div>                  
                      </div>
                    </fieldset>

                  <% end %>
                </div>                
              <% end %>
              
              
              <% if cat[:sub_categories].present? %>
                <% cat[:sub_categories].each do |sub| %>
                  <% if sub[:questions].present? %>
                    <%= render :partial => 'certified_eval_form_questions', :locals => {:evaluation => evaluation, :cat => sub, :is_sub_category => true} %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

