<%- model_class = Place -%>
<%- model_class_v = VenueCategory -%>
<%- model_class_vt = VenueCategoryTranslation -%>

<%= semantic_form_for(@place, :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_messages %>

  <% if params[:stage] == '1' %>
    <h2><%= t('.header_venue') %></h2>
    <p><%= t('.venue_instructions') %></p>
    <ul id="venue_categories">
      <%
        categories = @venue_categories.map{|x| [x.id, x.venue_category]}.uniq
        categories.each do |category|
      %>
        <li>
          <%= link_to category[1], "#venue_#{category[0]}", :title => t('.venue_category_link_title', :name => category[1]), :'data-id' => category[0] %>
        </li>
      <% end %>      
    </ul>

    <hr />

    <div id="venue_category_lists">
      <%
        categories = @venue_categories.map{|x| [x.id, x.venue_category]}.uniq
        categories.each do |category|

          venues = @venue_categories.select{|x| x.id == category[0]}
          if venues.present?
      %>
        <div id="<%= "venue_#{category[0]}" %>" class="venue_category accessibly-hidden" data-id="<%= category[0] %>" tabindex="0">
          <h3><%= category[1] %></h3>
          <ul>
            <% venues.each do |venue| %>
              <li>
                <%= link_to venue[:venue], new_place_path(:stage => '2', :venue_id => venue[:venue_id]), 
                  :role => 'button' %>
              </li>
            <% end %>            
          </ul>
          <a href="#venue_categories" class="accessibly-hidden"><%= t('.skip_venue_search') %></a>
        </div>
        <% end %>
      <% end %>
    </div>

  <% elsif params[:stage] == '2' %>
    <h2><%= t('.header_name', :name => @venue.name) %></h2>

    <div class="string control-group required stringish">
      <label class=" control-label" for="place_name"><%= t('.label_name', :name => @venue.name) %></label>
      <div class="controls">
        <%= text_field_tag 'place_name', params[:name] %>
      </div>
    </div>

    <p>
      <%= link_to t('.next'), params.merge(:stage => '3', :name => ''), 
            :id => 'place_name_next', :role => 'button', :'aria-hidden' => true,
            :title => t('.name_link_title') %>
    </p>

  <% elsif params[:stage] == '3' %>

    <h2><%= t('.header_location', :name => params[:name]) %></h2>
    
    
    <% create_sorted_translation_objects(@place.place_translations).each do |trans| %>
		  <%= f.fields_for :place_translations, trans do |translation| %>
			  <%= translation.hidden_field :name %>
			  <%= translation.hidden_field :locale %>
			  <%= translation.hidden_field :address, :class => 'place_address' %>
		  <% end %>
	  <% end %>

	  <%= f.inputs do %>
	    <%= f.hidden_field :lat %>
	    <%= f.hidden_field :lon %>
	    <%= f.hidden_field :venue_id %>
	  <% end %>
    
    <div id="place-form-address-search" class="row-fluid">
      <div class="span9">
        <a href="#address-search" class="accessibly-hidden"><%= t('.skip_map') %></a>
        <p>
          <%= t('.map_instructions', :name => params[:name]) %>
        </p>
        <div id="map"></div>
        <p id="map_marker_explanation">
          <%= t('.map_blue_marker', :img => image_tag(asset_path('marker-icon.png'))).html_safe %>
          <%= t('.map_red_marker', :img => image_tag(asset_path('marker-icon-red.png'))).html_safe %>
        </p>
      </div>
      <div class="span3" id="address-search">
        <p>
          <%= t('.address_instructions') %>
        </p>
      
        <p>
          <%= t('.address_instructions2', :name => params[:name]) %>
        </p>
        
        <p>
          <%= text_field_tag 'address-search', nil, :class => "span10" %>
        </p>
        
        <p>
          <%= link_to t('.submit_address_search'), '#', :id => 'submit-address-search', :class => 'btn btn-mini', :role => 'button' %>
        </p>
        
        <div id="address-search-results" aria-live="polite" aria-relevant="additions" aria-busy="false">
          <a href="#address-search-results" id="address-search-results" class="accessibly-hidden"><%= t('.address_search_results') %></a>
          <div id="address-search-1-match" class="alert alert-info" aria-hidden="true">
            <p>
              <%= t('.address_search_success') %>
            </p>
            <div class="placeholder"></div>
            <div class="building_number">
              <p>
                <%= label_tag 'building_number1', t('.building_number') %>
                <%= text_field_tag 'building_number1', nil, :class => "span3 builder_number" %>
              </p>
            </div>
          </div>
        
          <div id="address-search-multiple-match" class="alert alert-info" aria-hidden="true">
            <p>
              <%= t('.address_search_multiple_success') %>
            </p>
            <div class="placeholder"></div>
            <div class="building_number">
              <p>
                <%= label_tag 'building_number2', t('.building_number') %>
                <%= text_field_tag 'building_number2', nil, :class => "span3 builder_number" %>
              </p>
            </div>
          </div>
          
          <div id="address-search-fail" class="alert alert-danger" aria-hidden="true">
            <p>
              <%= t('.address_search_fail') %>
            </p>
          </div>

          <div id="submit-button" aria-hidden="true">
            <%= f.submit t('.submit') %>
          </div>

          <a href="#address-search" class="accessibly-hidden"><%= t('.skip_to_address_search') %></a>
        </div>      
      </div>
    </div>
    
  <% end %>
<% end %>

