<%- model_class = Place -%>
<%- model_class_v = VenueCategory -%>
<%- model_class_vt = VenueCategoryTranslation -%>
<%- is_editable = @place.id.present? && current_user.role?(User::ROLES[:site_admin]) -%>

<%= semantic_form_for(@place, :html => { :class => 'form-horizontal' }) do |f| %>
	<%= f.error_messages %>

  <div class="row-fluid">
    <div class="span4">
      <% if is_editable %>
        <% create_sorted_translation_objects(@place.place_translations).each do |trans| %>
          <%= f.fields_for :place_translations, trans do |translation| %>
            <% lang = t("app.language.#{trans.locale}") %>
            <%= translation.input :name, :label => "#{lang} - #{trans.class.human_attribute_name(:name)}" %>
          <% end %>
        <% end %>
      <% else %>
        <%= f.input :name, :input_html => { :value => @place.name } %>
      <% end %>
    </div>
    <div class="span4">
      <%
        options = []
        categories = @venue_categories.map{|x| [x.id, x.venue_category]}.uniq
        categories.each do |category|
          venues = @venue_categories.select{|x| x.id == category[0]}.map{|x| [x[:venue], x[:venue_id]]}
          if venues.present?
            options << [category[1], venues]
          end
        end
      %>

      <%= f.input :venue_id, :as => :select, :collection => grouped_options_for_select(options, @place.venue_id),
          :input_html => {:style => 'width: 100%'} %>
    </div>
    <div class="span4">
  	  <%= f.input :url, :as => :url %>
    </div>
  </div>



  <h2><%= t('.header_location') %></h2>
  
  
  <% if !is_editable %>
    <% create_sorted_translation_objects(@place.place_translations).each do |trans| %>
  	  <%= f.fields_for :place_translations, trans do |translation| %>
  		  <%= translation.hidden_field :name, :class => 'place_form_name_translation' %>
  		  <%= translation.hidden_field :locale %>
  		  <%= translation.hidden_field :address, :class => 'place_address' %>
  	  <% end %>
    <% end %>
  <% end %>

  <%= f.inputs do %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lon %>
  <% end %>
  
  <p id="place-form-address-search-instructions">
    <%= t('.address_instructions') %>
  </p>
  <div id="place-form-address-search" class="row-fluid">
    <div class="span4" id="address-search-container">
      <h3><%= t('.header_address_search') %></h3>
    
      <p>
        <%= label_tag 'address-search', t('.address_instructions2') %>
      </p>
      
      <p>
        <%= text_field_tag 'address-search', @place.address, :class => "span10" %>
      </p>
      
      <p>
        <%= link_to t('.submit_address_search'), '#', :id => 'submit-address-search', :class => 'btn btn-mini', :role => 'button' %>
      </p>
      
      <div id="address-search-results" aria-live="polite" aria-relevant="additions" aria-busy="false">
        <a href="#address-search-results" id="address-search-results" class="accessibly-hidden"><%= t('.address_search_results') %></a>
        <div id="address-search-1-match" class="alert alert-info" aria-hidden="true">
          <p>
            <%= t('.address_search_success') %>
          </p>
          <div class="placeholder"></div>
          <div class="building_number">
            <p>
              <%= label_tag 'building_number1', t('.building_number') %>
              <%= text_field_tag 'building_number1', nil, :class => "span3 builder_number" %>
            </p>
          </div>
        </div>
      
        <div id="address-search-multiple-match" class="alert alert-info" aria-hidden="true">
          <p>
            <%= t('.address_search_multiple_success') %>
          </p>
          <div class="placeholder"></div>
          <div class="building_number">
            <p>
              <%= label_tag 'building_number2', t('.building_number') %>
              <%= text_field_tag 'building_number2', nil, :class => "span3 builder_number" %>
            </p>
          </div>
        </div>
        
        <div id="address-search-fail" class="alert alert-danger" aria-hidden="true">
          <p>
            <%= t('.address_search_fail') %>
          </p>
        </div>

        <% if is_editable %>
          <div id="address-edit">
            <h3><%= t('.header_address_edit') %></h3>
            <p><%= t('.address_edit_explanation') %></p>
            <% create_sorted_translation_objects(@place.place_translations).each do |trans| %>
              <%= f.fields_for :place_translations, trans do |translation| %>
                <% lang = t("app.language.#{trans.locale}") %>
                <%= translation.input :address, :label => "#{lang} - #{trans.class.human_attribute_name(:address)}", :input_html => {:class => 'place_address'} %>
              <% end %>
            <% end %>
          </div>
        <% end %>        

        <a href="#places_nearby_container" class="accessibly-hidden"><%= t('.skip_to_places_nearby') %></a>
        <a href="#map_container" class="accessibly-hidden"><%= t('.skip_to_map') %></a>
        <a href="#submit-button" class="accessibly-hidden"><%= t('.skip_to_submit') %></a>

        <div id="submit-button" aria-hidden="<%= !is_editable %>">
          <%= f.submit t('.submit') %>
        </div>

      </div>      
    </div>
    <div class="span4" id="map_container">
      <h3><%= t('.header_map_search') %></h3>
      <p id="map_marker_explanation">
        <%= t('.map_instructions') %>
        <%= t('.map_blue_marker', :img => image_tag(asset_path('marker-icon.png'))).html_safe %>
        <%= t('.map_red_marker', :img => image_tag(asset_path('marker-icon-red.png'))).html_safe %>
      </p>

      <a href="#address-search-container" class="accessibly-hidden"><%= t('.skip_to_address_search') %></a>
      <a href="#places_nearby_container" class="accessibly-hidden"><%= t('.skip_to_places_nearby') %></a>
      <a href="#submit-button" class="accessibly-hidden"><%= t('.skip_to_submit') %></a>

      <div id="map"></div>
    </div>
    <div class="span4" id="places_nearby_container" aria-live="polite" aria-relevant="additions" aria-busy="false">
      <h3><%= t('.header_places_nearby') %></h3>
      <p id="places_nearby_explanation">
        <%= t('.places_nearby_explanation') %>
      </p>

      <div id="places_nearby_none" class="alert" aria-hidden="true">
        <p>
          <%= t('.places_nearby_none') %>
        </p>
      </div>

      <div id="places_nearby_matches" aria-hidden="true">
      </div>

      <a href="#address-search-container" class="accessibly-hidden"><%= t('.skip_to_address_search') %></a>
      <a href="#map_container" class="accessibly-hidden"><%= t('.skip_to_map') %></a>
      <a href="#submit-button" class="accessibly-hidden"><%= t('.skip_to_submit') %></a>
      
    </div>
  </div>
  
<% end %>

