<%= f.fields_for :place_evaluations, @place_evaluation_public do |evaluation| %>
  <%= evaluation.hidden_field :user_id , :value => @place_evaluation_public.user_id %>
  <%= evaluation.hidden_field :disability_id %>
  <%= evaluation.hidden_field :disability_other_text %>
  <%= evaluation.hidden_field :disability_ids , :value => @place_evaluation_public.disability_ids %>
  <%= evaluation.hidden_field :is_certified , :value => @place_evaluation_public.is_certified %>
  <% if @user_organizations_ids.present? %>
	  <%= evaluation.hidden_field :organization_ids , :value => @user_organizations_ids %>
  <% end %>


  <div class="question_category">
    <div class="venue_evaluation">
      <p class="not_know_instructions">
        <span>
          <%= t('.not_know') %>
        </span>
      </p>
    
      <% question_index = -1 %>
      <% @question_categories_public.each do |cat| %>
        <% cat[:questions].each do |question| %>    
          <% question_index += 1 %>

          <div class="row-fluid venue_evaluation_question" data-disability-ids="<%= @evaluation_types_public.map{|x| x.id} %>">
            <%= evaluation.fields_for :place_evaluation_answers, @place_evaluation_public.place_evaluation_answers[question_index] do |answer| %>

              <%= answer.hidden_field :question_pairing_id , :value => question[:question_pairing_id] %>

              <% 
                input_id = "place_place_evaluations_attributes_0_place_evaluation_answers_attributes_#{question_index}_answer_" 
                input_name = "place[place_evaluations_attributes][0][place_evaluation_answers_attributes][#{question_index}][answer]" 

                # get the disability ids for this question that have help text
                disability_ids_with_help_text = []
                if question[:disability_id_with_help_text].present?
                  disability_ids_with_help_text << question[:disability_id_with_help_text]
                end
                if question[:disability_ids_with_help_text].present?
                  disability_ids_with_help_text << question[:disability_ids_with_help_text].split(',')
                end
                if disability_ids_with_help_text.present?
                  disability_ids_with_help_text.flatten!.map!{|x| x.to_i}.sort!
                end
                
              %>

              <fieldset>
                <div class="span4">
                  <legend>
                    <%= question[:question] %>
                    <% if disability_ids_with_help_text.present? %>
                      <%= link_to help_text_path(question_pairing_id: question[:question_pairing_id]),
                            :'data-disability-ids' => disability_ids_with_help_text.to_s, 
                            :'data-url' => help_text_path(question_pairing_id: question[:question_pairing_id]),
                            :class => 'help-text-link help-text-fancybox' do %>
                        <i class="icon-info-sign tooltipster" title="<%= t('.tip_help_text') %>"></i>
                      <% end %>
                    <% end %>
                  </legend>
                </div>
                <div class="span8 venue_evaluation_question_answers">
                  <div class="row-fluid">
                    <div class="span2">
                      <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['yes']}" %>" 
                            name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['yes'] %>">
                      <label class="yes" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['yes']}" %>">
                        <i class="icon-white icon-thumbs-up" title="<%= t('app.common.answers.yes') %>"></i>
                        <span><%= t('app.common.answers.yes') %></span>
                      </label>
                    </div>
                    <div class="span2">
                      <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['no']}" %>" 
                            name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['no'] %>">
                      <label class="no" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['no']}" %>">
                        <i class="icon-thumbs-down icon-white" title="<%= t('app.common.answers.no') %>"></i>
                        <span><%= t('app.common.answers.no') %></span>
                      </label>
                    </div>
                    <div class="span3 not-relevant">
                      <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['not_relevant']}" %>" 
                            name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['not_relevant'] %>">
                      <label class="not_relevant" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['not_relevant']}" %>">
                        <i class="icon-remove icon-white" title="<%= t('app.common.answers.not_relevant') %>"></i>
                        <span><%= t('app.common.answers.not_relevant') %></span>
                      </label>
                    </div>
                    <div class="span3">
                      <a class="eval-question-image" href="<%= "#image-modal-#{question_index}"%>" role="button" data-toggle="modal">
                        <i class="icon-camera icon-white" title="<%= t('app.common.eval_question_image.button') %>"></i>
                        <span data-upload="<%= t('app.common.eval_question_image.button') %>" 
                            data-uploaded-1="<%= t('app.common.eval_question_image.button_uploaded_1') %>" 
                            data-uploaded-many="<%= t('app.common.eval_question_image.button_uploaded_many') %>"><%= t('app.common.eval_question_image.button') %></span>
                      </a>
                      <div id="<%= "image-modal-#{question_index}"%>" class="image-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="image-modal-header" aria-hidden="true">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">×</button>
                          <h3 id="image-modal-header"><%= t('app.common.eval_question_image.header') %></h3>
                        </div>
                        <div class="modal-body">
                          <p>
                            <%= t('app.common.eval_question_image.description') %>
                          </p>
                          
                          <p>
                            <%= t('app.common.eval_question_image.question') %>
                            <br />
                            <%= question[:question] %>
                          </p>
                          
                          <% 
                            image_qp_id = "place_place_evaluations_attributes_0_place_evaluation_images_attributes_#{question_index}_question_pairing_id" 
                            image_qp_name = "place[place_evaluations_attributes][0][place_evaluation_images_attributes][#{question_index}][question_pairing_id]" 
                            image_file_id = "place_place_evaluations_attributes_0_place_evaluation_images_attributes_#{question_index}_images[]" 
                            image_file_name = "place[place_evaluations_attributes][0][place_evaluation_images_attributes][#{question_index}][images][]" 
                          %>

                          <input id="<%= image_qp_id %>" name="<%= image_qp_name %>" type="hidden" value="<%= question[:question_pairing_id] %>">

                          <p>
                            <input id="<%= image_file_id %>" multiple="multiple" name="<%= image_file_name %>" type="file" accept=".jpg,.jpeg,.png">
                          </p>

                        </div>
                        <div class="modal-footer">
                          <a href="#" class="btn image-modal-close-buttons" data-type="cancel" data-dismiss="modal"><%= t('app.buttons.cancel') %></a>
                          <a href="#" class="btn btn-primary image-modal-close-buttons" data-type="save" data-dismiss="modal"><%= t('app.common.eval_question_image.continue_eval') %></a>
                        </div>
                      </div>

                    </div>
                  </div>                  
                </div>
              </fieldset>

            <% end %>
          </div>        
        
        <% end %>

      <% end %>
    </div>
  </div>
<% end %>

