<%= f.fields_for :place_evaluations, @place_evaluation do |evaluation| %>
  <%= evaluation.hidden_field :user_id , :value => @place_evaluation.user_id %>
  <%= evaluation.hidden_field :disability_id , :value => @place_evaluation.disability_id %>
  <%= evaluation.hidden_field :is_certified , :value => @place_evaluation.is_certified %>


  <div class="question_category">
    <div class="venue_evaluation">
      <p class="not_know_instructions">
        <span>
          <%= t('.not_know') %>
        </span>
      </p>
    
      <% question_index = -1 %>
      <% @question_categories.each do |cat| %>
        <% cat[:questions].each do |question| %>    
          <% question_index += 1 %>

          <div class="row-fluid venue_evaluation_question">
            <%= evaluation.fields_for :place_evaluation_answers, @place_evaluation.place_evaluation_answers[question_index] do |answer| %>

              <%= answer.hidden_field :question_pairing_id , :value => question[:question_pairing_id] %>

              <% 
                input_id = "place_place_evaluations_attributes_0_place_evaluation_answers_attributes_#{question_index}_answer_" 
                input_name = "place[place_evaluations_attributes][0][place_evaluation_answers_attributes][#{question_index}][answer]" 
              %>

              <fieldset>
                <div class="span4">
                  <legend><%= question[:question] %></legend>
                </div>
                <div class="span8">
                  <div class="row-fluid">
                    <div class="span2">
                      <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['yes']}" %>" 
                            name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['yes'] %>">
                      <label class="yes" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['yes']}" %>">
                        <i class="icon-white icon-thumbs-up"></i>
                        <%= t('app.common.answers.yes') %>
                      </label>
                    </div>
                    <div class="span2">
                      <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['no']}" %>" 
                            name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['no'] %>">
                      <label class="no" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['no']}" %>">
                        <i class="icon-thumbs-down icon-white"></i>
                        <%= t('app.common.answers.no') %>
                      </label>
                    </div>
                    <div class="span3">
                      <input id="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['not_relevant']}" %>" 
                            name="<%= input_name %>" type="radio" value="<%= PlaceEvaluation::ANSWERS['not_relevant'] %>">
                      <label class="not_relevant" for="<%= "#{input_id}#{PlaceEvaluation::ANSWERS['not_relevant']}" %>">
                        <i class="icon-remove icon-white"></i>
                        <%= t('app.common.answers.not_relevant') %>
                      </label>
                    </div>
                  </div>                  
                </div>
              </fieldset>

            <% end %>
          </div>        
        
        <% end %>

      <% end %>
    </div>
  </div>
<% end %>

