<% if cat[:questions].present? %>
<% show_heading = true if show_heading.nil? %>
                  <% if show_heading %>
                    <% if is_sub_category %>
                      <h5><%= cat.name %></h5>
                    <% else %>
                      <h4><%= cat.name %></h4>
                    <% end %>
                  <% end %>
                  <ul class="question-results">
                    <%
                      # get all exist_ids in these questions and the answers for these exists questions
                      # - if the answer is yes, then show the child questions
                      exists_questions = cat[:questions].select{|x| x[:exists_id].present?}
                      show_exists_ids = []
                      if exists_questions.present?
                        exists_questions.each do |exists_question|
                          answer = nil
                          q = evaluation.place_evaluation_answers.select{|x| x.question_pairing_id == exists_question[:question_pairing_id]}
                          answer = q.first.answer if q.present?
                          if answer == PlaceEvaluation::ANSWERS['yes']
                            show_exists_ids << exists_question[:exists_id]
                          end
                        end
                      end
                    %> 

                    <% cat[:questions].each_with_index do |question, qidx| %>
                      <% if question[:exists_parent_id].nil? || show_exists_ids.include?(question[:exists_parent_id]) %>
                        <li>
                          <div>
                            <%= question[:question] %>
                          </div>
                          <% 
                            answer = nil
                            q = evaluation.place_evaluation_answers.select{|x| x.question_pairing_id == question[:question_pairing_id]}
                            answer = q.first.answer if q.present?

                            if answer.present?
                          %>
                            <div class="<%= "selected-answer #{PlaceEvaluation.answer_key_name(answer)}"%>">
                              <%= t("app.common.answers.#{PlaceEvaluation.answer_key_name(answer)}") %>
                              <% if question[:evidence].present? && q.first.evidence.present? %>
                                <%= " (#{question[:evidence]}: #{q.first.evidence})" %>
                              <% end %>
                            </div>
                            
                            <% if question[:required_for_accessibility] == 1 && answer == PlaceEvaluation::ANSWERS['needs'] %>
                              <div class="cause_not_accessible">
                                <%= t('app.msgs.cause_not_accessible') %>
                              </div>
                            <% end %>
                          <% end %>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>

                  <% if cat[:sub_categories].present? %>
                    <% cat[:sub_categories].each do |sub| %>
                      <%= render :partial => 'show_answers', :locals => {:evaluation => evaluation, :cat => sub, :is_sub_category => true} %>
                    <% end %>
                  <% end %>
<% end %>
