<% title t('.title', :name => @place[:name]) %>
<% title_right link_to(t('places.evaluation2.watch_videos'), video_guides_path(goto: current_url), :class => 'view_more') %>

<div id="evaluation_form">
  <% if @can_certify %>
    <div id="complete_form">
      <h2><%= t('.header_certification') %></h2>

      <div id="certification">
        <ul>
          <li>
            <input id="<%= "certification_form_y" %>" name="certification_form" type="radio" value="y" aria-controls="evaluation_types">
            <label for="<%= "certification_form_y" %>">
              <%= t('.certification_yes_link_text') %>
            </label>
          </li>
          <li>
            <input id="<%= "certification_form_n" %>" name="certification_form" type="radio" value="n" aria-controls="evaluation_types">
            <label for="<%= "certification_form_n" %>">
              <%= t('.certification_no_link_text') %>
            </label>
          </li>
        </ul>
      </div>
      
      <div id="evaluation_types" data-ids="" role="region" aria-live="polite">
        <h2><%= t('.header_evaluation_types') %></h2>
        <div id="evaluation_types_public" data-type="public" data-ids="<%= @evaluation_types_public.map{|x| x.id} %>">
          <% if @evaluation_types_public.present? %>
            <ul>
              <% @evaluation_types_public.each do |evaluation_type| %>
                <li>
                  <% 
                    other_input_class = ''
                    other_modal = ''
                    if evaluation_type.id == Disability::OTHER_ID 
                      other_input_class = 'class=other-type-input'
                      other_modal = "id=other-type-label data-toggle=modal data-other=#{evaluation_type.name}" 
                    end
                  %>
                  <input id="<%= "evaluation_type_public_#{evaluation_type.id}" %>" 
                    <%= params[:eval_type_id].present? && params[:eval_type_id].to_s == evaluation_type.id.to_s && params[:eval_type_id].to_s != Disability::OTHER_ID.to_s ? 'checked=checked' : '' %>
                    name="evaluation_type" type="checkbox" value="<%= evaluation_type.id %>"
                    aria-controls="venue_evaluations_public" <%= other_input_class %>>
                  <label for="<%= "evaluation_type_public_#{evaluation_type.id}" %>" <%= other_modal %>>
                    <%= evaluation_type.name %>
                  </label>
                  <% if evaluation_type.id == Disability::OTHER_ID %>
                    <div id="other-type-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="other-type-modal-header" aria-hidden="true">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="other-type-modal-header"><%= t('.disability_other_header') %></h3>
                      </div>
                      <div class="modal-body">
                        <label for="disability_other_popup"><%= t('.disability_other_label') %></label>
                        <input type="text" id="disability_other_popup" />
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="btn other-type-modal-cancel" data-dismiss="modal"><%= t('app.buttons.cancel') %></a>
                        <a href="#" class="btn btn-primary other-type-modal-save" data-dismiss="modal"><%= t('app.common.save') %></a>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>            
            </ul>
          <% end %>
        </div>
        <div id="evaluation_types_certified" data-type="certified" data-ids="<%= @evaluation_types_certified.map{|x| x.id} %>">
          <% if @evaluation_types_certified.present? %>
            <ul>
              <% @evaluation_types_certified.each do |evaluation_type| %>
                <li>
                  <input id="<%= "evaluation_type_certified_#{evaluation_type.id}" %>"  
                    <%= params[:eval_type_id].present? && params[:eval_type_id].to_s == evaluation_type.id.to_s ? 'checked=checked' : '' %>
                    name="evaluation_type" type="checkbox" value="<%= evaluation_type.id %>"
                    aria-controls="venue_evaluations_certified">
                  <label for="<%= "evaluation_type_certified_#{evaluation_type.id}" %>">
                    <%= evaluation_type.name %>
                  </label>
                </li>
              <% end %>            
            </ul>
          <% end %>
        </div>
      </div>
      
      <%= semantic_form_for(@place, :url => evaluation_place_path(params[:id]), :html => { :class => 'evaluation_public', :multipart => true }) do |f| %>
        <h2><%= t('.header_form') %></h2>
      
        <div id="venue_evaluations_public" class="venue_evaluations" role="region" aria-live="polite">
          <%= render :partial => 'public_eval_form', :locals => {:f => f} %>
        </div>

        <div id="btn-container">
          <div id="submit-button" class="accessibly-hidden">
            <%= f.submit t('.submit') %>
          </div>
          <%= link_to t('.cancel_eval'), place_path(@place), :class => 'cancel_eval' %>
        </div>
      <% end %>    
      
      <%= semantic_form_for(@place, :url => evaluation_place_path(params[:id]), :html => { :class => 'evaluation_certified', :multipart => true }) do |f| %>
        <h2><%= t('.header_form') %></h2>

        <div id="venue_evaluations_certified" class="venue_evaluations" role="region" aria-live="polite">
          <%= render :partial => 'certified_eval_form', :locals => {:f => f} %>
        </div>

        <div id="btn-container">
          <div id="submit-button" class="accessibly-hidden">
            <%= f.submit t('.submit') %>
          </div>
          <%= link_to t('.cancel_eval'), place_path(@place), :class => 'cancel_eval' %>
        </div>
      <% end %>    
    </div>    
  <% else %>
    <% #public eval only %>

    <div id="evaluation_types" data-type="public" data-ids="<%= @evaluation_types_public.map{|x| x.id} %>">
      <h2><%= t('.header_evaluation_types') %></h2>

      <% if @evaluation_types_public.present? %>
        <ul>
          <% @evaluation_types_public.each do |evaluation_type| %>
            <li>
              <input id="<%= "evaluation_type_public_#{evaluation_type.id}" %>"  
                    <%= params[:eval_type_id].present? && params[:eval_type_id].to_s == evaluation_type.id.to_s ? 'checked=checked' : '' %>
                    name="evaluation_type" type="checkbox" value="<%= evaluation_type.id %>"
                    aria-controls="venue_evaluations_public">
              <label for="<%= "evaluation_type_public_#{evaluation_type.id}" %>">
                <%= evaluation_type.name %>
              </label>
            </li>
          <% end %>            
        </ul>
      <% end %>
    </div>



    <%= semantic_form_for(@place, :url => evaluation_place_path(params[:id]), :html => { :class => 'evaluation_public', :multipart => true }) do |f| %>
      <h2><%= t('.header_form') %></h2>
      
      <div id="venue_evaluations_public" class="venue_evaluations" role="region" aria-live="polite">
        <%= render :partial => 'public_eval_form', :locals => {:f => f} %>
      </div>

      <div id="btn-container">
        <div id="submit-button" class="accessibly-hidden">
          <%= f.submit t('.submit') %>
        </div>
        <%= link_to t('.cancel_eval'), place_path(@place), :class => 'cancel_eval' %>
      </div>
    <% end %>
  <% end %>

  <p id="no_questions" class="alert alert-error">
    <%= t('.no_questions') %>
  </p>


  <div id="evaluation-watch-videos" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 id="myModalLabel"><%= t('.watch_videos_header') %></h3>
    </div>
    <div class="modal-body">
      <p><%= t('.watch_videos_explanation') %></p>
    </div>
    <div class="modal-footer">
      <button id="btn-training" class="btn" data-dismiss="modal" data-href="<%= video_guides_path(goto: current_url) %>"><%= t('.watch_videos_button') %></button>
      <button id="btn-close" class="btn" data-dismiss="modal"><%= t('.watch_videos_close') %></button>
    </div>
  </div>


</div>


