<%- model_class = Place -%>
<%- model_class_trans = PlaceTranslation -%>
<% 
  if @disability.blank?
    title t('.title1', :name => @place[:name]).html_safe 
  elsif params[:certification] == true
    title t('.title3', :name => @place[:name], :disability => @disability.name).html_safe 
  else
    title t('.title2', :name => @place[:name], :disability => @disability.name).html_safe 
  end
  
%>

<%= semantic_form_for(@place, :url => evaluation_place_path(params[:id]), :html => { :class => 'form-horizontal' }) do |f| %>

  <% if params[:eval_type_id].blank? %>
    <h2><%= t('.header_disability') %></h2>

    <% if @disabilities.present? %>
      <div id="disabilities">
        <ul>
          <% @disabilities.each do |disability| %>
            <li>
              <%= link_to disability.name, params.merge(:eval_type_id => disability.id), 
                  :title => t('.disability_link_title', :name => disability.name),
                  :role => 'button' %>
            </li>
          <% end %>            
        </ul>
      </div>
    <% end %>

  <% elsif @needs_certification_answer %>
    <h2><%= t('.header_certification') %></h2>

    <div id="certification">
      <ul>
        <li>
          <%= link_to t('.certification_yes_link_text'), params.merge(:certification => 1), 
              :title => t('.certification_yes_link_title'),
              :role => 'button' %>
        </li>
        <li>
          <%= link_to t('.certification_no_link_text'), params.merge(:certification => 0), 
              :title => t('.certification_no_link_title'),
              :role => 'button' %>
        </li>
      </ul>
    </div>
  <% else %>

    <div id="venue_evalautions">
      <% if params[:certification] == true %>
        <%= render :partial => 'certified_eval_form', :locals => {:f => f} %>
      <% else %>
        <%= render :partial => 'public_eval_form', :locals => {:f => f} %>
      <% end %>
    </div>

    <div id="submit-button" class="accessibly-hidden">
      <%= f.submit t('.submit') %>
    </div>
  <% end %>

  <div class="cancel_eval_container">
    <%= link_to t('.cancel_eval'), place_path(@place), :class => 'cancel_eval' %>
  </div>    
<% end %>


