<%- model_class = Place -%>
<%- model_class_trans = PlaceTranslation -%>
<% 
  if params[:stage] == '1'
    title t('.title1', :name => @place[:name])
  elsif params[:stage] == '2'
    if params[:certification] == true
      title t('.title2c', :name => @place[:name])
    else
      title t('.title2p', :name => @place[:name])
    end
  elsif params[:stage] == '3'
    if params[:certification] == true
      title t('.title3c', :name => @place[:name], :disability => @disability.name)
    else
      title t('.title3p', :name => @place[:name], :disability => @disability.name)
    end
  end
  
%>

<%= semantic_form_for(@place, :url => evaluation_place_path(params[:id]), :html => { :class => 'form-horizontal' }) do |f| %>

  <% if params[:stage] == '1' %>
    <h2><%= t('.header_certification') %></h2>

    <div id="certification">
      <ul>
        <li>
          <%= link_to t('.certification_yes_link_text'), params.merge(:certification => 1, :stage => 2), 
              :title => t('.certification_yes_link_title'),
              :role => 'button' %>
        </li>
        <li>
          <%= link_to t('.certification_no_link_text'), params.merge(:certification => 0, :stage => 2), 
              :title => t('.certification_no_link_title'),
              :role => 'button' %>
        </li>
      </ul>
    </div>

  <% elsif params[:stage] == '2' %>
    <h2><%= t('.header_disability') %></h2>

    <% if @disabilities.present? %>
      <div id="disabilities">
        <ul>
          <% @disabilities.each do |disability| %>
            <li>
              <%= link_to disability.name, params.merge(:eval_type_id => disability.id, :stage => 3), 
                  :title => t('.disability_link_title', :name => disability.name),
                  :role => 'button' %>
            </li>
          <% end %>            
        </ul>
      </div>
    <% end %>

  <% elsif params[:stage] == '3' %>

    <div id="venue_evalautions">
      <% if params[:certification] == true %>
        <%= render :partial => 'certified_eval_form', :locals => {:f => f} %>
      <% else %>
        <%= render :partial => 'public_eval_form', :locals => {:f => f} %>
      <% end %>
    </div>

    <div id="submit-button" class="accessibly-hidden">
      <%= f.submit t('.submit') %>
    </div>
  <% end %>

  <div class="cancel_eval_container">
    <%= link_to t('.cancel_eval'), place_path(@place), :class => 'cancel_eval' %>
  </div>    
<% end %>


