<%- model_class = Place -%>
<%- model_class_trans = PlaceTranslation -%>
<% title @place[:name].html_safe %>

<div class="row-fluid">
  <div class="span6" id="venue_evalautions">
    <div class="row-fluid top">
      <div class="span9">
        <p>
          <strong><%= model_class_trans.human_attribute_name(:address) %>:</strong>
          <%= @place[:address] %>
        </p>
        <p>
          <strong><%= model_class_trans.human_attribute_name(:district_id) %>:</strong>
          <%= link_to @place[:district], root_path(:district_id => @place[:district_id]),
            :title => t('.district_link_title', :name => @place[:district]) %>
        </p>
        <p>
          <strong><%= model_class_trans.human_attribute_name(:venue_id) %>:</strong>
          <%= link_to @place[:venue], root_path(:venue_category_id => @place[:venue_category_id]),
            :title => t('.venue_link_title', :name => @place[:venue]) %>
        </p>
      </div>
      <div class="span3">
        <%= link_to t('app.common.add_evaluation'), evaluation_place_path(@place), 
          :class => 'add_evaluation', :title => t('app.common.add_evaluation_title', :place => @place[:name]) %>
        <%= link_to t('app.common.add_photos'), upload_photos_place_path(@place), 
          :class => 'add_photos', :title => t('app.common.add_photos_title', :place => @place[:name]) %>
      </div>
    </div>
    
    
    <div id="place_chart"></div>
    
    
    <ul id="evaluation-certified-tabs" class="nav nav-tabs" data-tabs="evaluation-certified-tabs">
      <li class="active">
        <a href="<%= "#certified" %>" data-toggle="tab"><%= t('.tab_certified', :count => @data[:certified][:disability_evaluations].map{|x| x[:evaluation_count]}.sum) %></a>
      </li>
      <li>
        <a href="<%= "#public" %>" data-toggle="tab"><%= t('.tab_public', :count => @data[:public][:disability_evaluations].map{|x| x[:evaluation_count]}.sum) %></a>
      </li>
    </ul>
    <div id="certified-content" class="tab-content">
      <div class="tab-pane active" id="certified">
        <%= render :partial => 'show_certified', :locals => {:data => @data[:certified], :type => 'certified'} %>
      </div>
      <div class="tab-pane" id="public">
        <%= render :partial => 'show_certified', :locals => {:data => @data[:public], :type => 'public'} %>
      </div>
    </div>
    
    



  </div>
  <div class="span6">
    <a href="#footer" class="accessibly-hidden"><%= t('.skip_map') %></a>
    <div id="map"></div>
    
    <% if @place_images.present? %>
      <div id="place_carousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @place_images.each_with_index do |img, index| %>
            <div class="<%= 'active' if index == 0 %> item">
              <%= image_tag img.image.url(:medium) %>
              <div class="carousel-caption">
                <ul class="carousel-caption-photo-info">
                  <% if img.taken_at.present? %>
                    <li>
                      <%= t('.taken_at', :date => l(img.taken_at, :format => :no_time)) %>
                    </li>
                  <% end %>
                  <% if img.created_at.present? %>
                    <li>
                      <%= t('.uploaded_at', :date => l(img.created_at, :format => :no_time)) %>
                    </li>
                  <% end %>
                  <% if img.user_id.present? %>
                    <li>
                      <%= t('.uploaded_by', :user => img.user.nickname) %>
                    </li>
                  <% end %>
                </ul>                
              </div>
            </div>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#place_carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#place_carousel" data-slide="next">&rsaquo;</a>
      </div>    
    <% end %>
  </div>
</div>



