<%- model_class = Place -%>
<%- model_class_trans = PlaceTranslation -%>
<% title @place[:name].html_safe %>

<div class="row-fluid">
  <div class="span6" id="venue_evalautions">
    <div class="row-fluid top">
      <div class="span9">
        <p><strong><%= model_class_trans.human_attribute_name(:address) %>:</strong>
        <%= @place[:address] %></p>
        <p><strong><%= model_class_trans.human_attribute_name(:district_id) %>:</strong>
        <%= @place[:district_id] %></p>
        <p><strong><%= model_class_trans.human_attribute_name(:venue_id) %>:</strong>
        <%= @place[:venue] %></p>
      </div>
      <div class="span3">
        <%= link_to t('app.common.add_evaluation'), evaluation_place_path(@place), 
          :class => 'add_evaluation', :title => t('app.common.add_evaluation_title', :place => @place[:name]) %>
      </div>
    </div>

	  <% if @question_categories.present? && @summaries.present? %>
      <% questions = @question_categories.map{|x| [x[:id], x[:question_category]]}.uniq %>
      <% if questions.present? %>
        <h2><%= t('.header_summary') %></h2>
        <p><strong><%= t('.summary_result') %>:</strong>
          <%= number_with_precision(@summaries['overall']['overall']) %>
        </p>
        <ul class="evaluation_summary">
        <% questions.each do |question| %>
          <li>
            <strong><%= question[1] %>:</strong>
            <%= number_with_precision(@summaries['overall'][question[0].to_s]) %>
          </li>          
        <% end %>
        </ul>
      <% end %>
    <% end %>


	  <% if @question_categories.present? && @evaluations.present? && @users.present? %>
      <h2><%= t('.header_overall_results') %></h2>
      <% 
        qc_id = nil 
      %>

      <% @evaluations.each do |evaluation| %>
        <% 
          user = @users.select{|x| x.id == evaluation.user_id}.first
          summary = @summaries['evaluations'].select{|x| x['id'] == evaluation.id}.first
        %>

        <h3 class="clear">
          <span class="evaluation_date">
            <%= l evaluation.created_at, :format => :no_time %>
          </span>
          <% if user.present? %>
            <span class="user_name">      
              <%= user.nickname %>
              <% if user.avatar.present? %>
                <%#= image_tag user.avatar, :title => user.nickname %>
              <% end %>
            </span>
          <% end %>
        </h3>

	      <% if questions.present? && summary.present? %>
          <h4><%= t('.header_user_summary') %></h4>
          <p><strong><%= t('.summary_result') %>:</strong>
            <%= number_with_precision(summary['overall']) %>
          </p>
          <ul class="evaluation_summary">
          <% questions.each do |question| %>
            <li>
              <strong><%= question[1] %>:</strong>
              <%= number_with_precision(summary[question[0].to_s]) %>
            </li>          
          <% end %>
          </ul>
        <% end %>


        <div class="accordion" id="<%= "accordion_#{evaluation.id}" %>">
          <div class="accordion-group">
            <div class="accordion-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="<%= "#accordion_#{evaluation.id}" %>" 
                  href="<%= "#collapse_#{evaluation.id}" %>" title="<%= t('.details_link_title') %>">
                  <%= t('.header_user_details') %>
                </a>
              </h4>
            </div>
            <div id="<%= "collapse_#{evaluation.id}" %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <% (0..@question_categories.length-1).each do |index| %>
                  <% if @question_categories[index][:id] != qc_id %>
                    <% if qc_id.present? %>
                        </ul>
                    <% end %>

                    <% qc_id = @question_categories[index][:id] %>

                    <h5><%= @question_categories[index][:question_category] %></h5>

                    <ul class="question-results">
                  <% end %>
                  
                    <li>
                      <div>
                        <%= @question_categories[index][:question] %>
                      </div>
                      <% 
                        answer = nil
                        q = evaluation.place_evaluation_answers.select{|x| x.question_pairing_id == @question_categories[index][:question_pairing_id]}
                        answer = q.first.answer if q.present?

                        if answer.present?
                      %>
                        <div class="<%= "selected-answer #{PlaceEvaluation.answer_key_name(answer)}"%>">
                          <%= t("app.common.answers.#{PlaceEvaluation.answer_key_name(answer)}") %>
                        </div>
                      <% end %>
                    </li>

                  <% if index == @question_categories.length-1 %>
                      </ul>
                  <% end %>        
                <% end %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
  <div class="span6">
    <a href="#footer" class="hidenav"><%= t('.jump.skip_map') %></a>
    <div id="map"></div>
  </div>
</div>
