<%- model_class = Place -%>
<%- model_class_trans = PlaceTranslation -%>
<% title @place[:name] %>
<%
  desc = t('.description.place', name: @place[:name], org: @place[:venue], address: @place[:address])

  if @data[:public][:summary].present? && @data[:public][:summary].has_key?('overall') && 
      @data[:public][:summary]['overall'].present?

      
      desc << t('.description.public', 
          num: @data[:public][:summary]['overall']['overall']['num_evaluations'], 
          yes: @data[:public][:summary]['overall']['overall']['num_yes'], 
          no: @data[:public][:summary]['overall']['overall']['num_no'])

  end

  if @data[:certified][:summary].present? && @data[:certified][:summary].has_key?('overall') && 
      @data[:certified][:summary]['overall'].present?

      desc << t('.description.cert', 
          num: @data[:certified][:summary]['overall']['overall']['num_evaluations'], 
          yes: @data[:certified][:summary]['overall']['overall']['num_yes'], 
          no: @data[:certified][:summary]['overall']['overall']['num_no'])

  end

  description desc

  social_links = link_to(image_tag("fb_share.jpg", :height => "20"),
                "http://www.facebook.com/share.php?u=#{request.protocol}#{request.host_with_port}#{request.fullpath}",
                :title => "facebook", :target => "_blank", :class => 'place-share')
  social_links << link_to(image_tag("twitter.jpg", :height => "20"),
                "https://twitter.com/share", :title => "twitter",
                :target => "_blank", :class => 'place-share')
  title_right  social_links

  count_cert = @data[:certified][:disability_evaluations].map{|x| x[:evaluation_count]}.sum
  count_public = @data[:public][:disability_evaluations].map{|x| x[:evaluation_count]}.sum
  cert_selected = "selected=selected"
  public_selected = ""
  default_count = count_cert
  selection_header_cert = t('.evaluations_certified')
  selection_header_title = t('app.common.certified_explanation')
  if count_cert == 0 && count_public > 0
    cert_selected = ""
    public_selected = "selected=selected"
    default_count = count_public
    selection_header_cert = t('.evaluations_public')
    selection_header_title = t('app.common.public_explanation')
  end

%>

<div class="row-fluid">
  <div class="span6">
    <% if @place.id.present? && user_signed_in? && current_user.role?(User::ROLES[:site_admin]) %>
    <p>
        <%= link_to t('app.common.edit_place'), edit_place_path(@place), 
          :class => 'edit_place', :title => t('app.common.edit_place_title', :place => @place[:name]) %>
        <%= link_to t('app.common.delete_place'),
                  place_path(@place),
                  :method => :delete,
                  :class => 'delete_place',
                  :confirm => t('app.buttons.confirm'),
                  :title => t('app.common.delete_place_title', :place => @place[:name]) %>

      </p>
    <% end %>
    <ul id="place_show_info" class="row-fluid">
      <li class="address span6">
        <strong><%= model_class_trans.human_attribute_name(:address) %>:</strong><br />
        <%= @place[:address] %>
      </li>
      <li class="span2">
        <strong><%= model_class.human_attribute_name(:district_id) %>:</strong><br />
        <%= link_to @place[:district], root_path(:district_id => @place[:district_id]),
          :title => t('.district_link_title', :name => @place[:district]) %>
      </li>
      <li class="span4">
        <strong><%= model_class.human_attribute_name(:venue_id) %>:</strong><br />
        <%= link_to @place[:venue], root_path(:venue_category_id => @place[:venue_category_id]),
          :title => t('.venue_link_title', :name => @place[:venue]) %>
      </li>
    </ul>
    <ul class="row-fluid" id="place-url">
      <% if @place[:url].present? %>
        <li class="span6">
          <%= link_to t('.website_button'), @place[:url], :target => '_blank', :class => 'btn_website'  %>
        </li>
      <% end %>
    </ul>

    <a href="#footer" class="accessibly-hidden"><%= t('.skip_map') %></a>
    <div id="map"></div>
    
    <div id="place-image-grid">
      <h3><%= t('.header_images') %></h3>
      <% if @place_images.present? %>
        <div id="place-image-filter" class="row-fluid">
          <div class="span4">
            <% options = [[t('.evaluations_certified'), true], [t('.evaluations_public'), false]] %>
            <%= label_tag :filter_image_evaluation, t('.evaluation') %>
            <%= select_tag(:filter_image_evaluation, 
                options_for_select(options, cert_selected.present?),
                :include_blank => true,
                :'data-placeholder' => t('.filter_all'), 
                :style => 'width: 100%') %>
          </div>
          <div class="span4">
            <% 
              options = @disabilities.uniq.map{|x| [x.name, x.id]}.sort_by{|x| x[0]}
            %>
            <%= label_tag :filter_image_type, t('.disability') %>
            <%= select_tag(:filter_image_type, 
                options_for_select(options),
                :include_blank => true,
                :'data-placeholder' => t('.filter_all'), 
                :style => 'width: 100%') %>
          </div>
          <div class="span4">
            <% options = @place_images.map{|x| [x['question'], x['question_id']]}.uniq.sort_by{|x| x[0]} %>
            <%= label_tag :filter_image_question, t('.question') %>
            <%= select_tag(:filter_image_question, 
                options_for_select(options),
                :include_blank => true,
                :'data-placeholder' => t('.filter_all'), 
                :style => 'width: 100%') %>
          </div>
                      
        </div>
      
        <div aria-live="polite" aria-relevant="additions">
          <% @place_images.each do |img| %>
            <div class="place-image-grid-item" >
              <% answer = t("app.common.answers.#{PlaceEvaluation.answer_key_name(img['answer'])}") %>
              <% eval = img['is_certified'] == 1 ? t('.evaluation_certified') : t('.evaluation_public') %>
              <%= link_to img.image.url(:large), :class => 'place-image-link active place-image-fancybox', 
                  :'data-certified' => img['is_certified'].to_s.to_bool,
                  :'data-type' => img['disability_id'],
                  :'data-question' => img['question_id'],
                  :title => "#{img['disability']} #{eval} - #{img['question']} - #{answer}", 
                  :'formatted-title' => "<span>#{img['disability']} #{eval} </span><span>#{img['question']} </span><span>#{answer}</span>",
                  :rel => 'gallery' do %><%= image_tag(img.image.url(:small), :alt => "#{img['disability']} #{eval} - #{img['question']} - #{answer}") %><% end %>
              <div class="caption-text">
                <ul class="eval-info">
                  <li>
                    <span><%= t('.evaluation') %></span>
                    <%= eval %>
                  </li>
                  <li>
                    <span><%= t('.disability') %></span>
                    <%= img['disability'] %>
                  </li>
                </ul>
                <ul class="quesiton-answer">
                  <li>
                    <span><%= t('.question') %></span>
                    <%= img['question'] %>
                  </li>
                  <li>
                    <span><%= t('.answer') %></span>
                    <%= answer %>
                  </li>
                </ul>
                <ul class="image-dates">
                  <li>
                    <span><%= t('.taken_at') %></span>
                    <%= l(img.taken_at, :format => :no_time) if img.taken_at.present? %>
                  </li>
                  <li>
                    <span><%= t('.uploaded_at') %></span>
                    <%= l(img.created_at, :format => :no_time) if img.created_at.present? %>
                  </li>
                  <li>
                    <span><%= t('.uploaded_by') %></span>
                    <%= img['nickname'] %>
                  </li>
                </ul>                
              </div>
            </div>
          <% end %>      
        </div>
        
        <p id="place-image-grid-no-match">
          <%= t('.no_filter_images') %>
        </p>

      <% else %>
        <p>
          <%= t('.no_images') %>
        </p>
      <% end %>
    </div>
    



  </div>
  <div class="span6"  id="venue_evalautions">
    <div id="place-filter">
      <h2 class="clear">
        <%= t('.header_evaluations') %>
        <%= link_to t('app.common.add_evaluation'), evaluation_place_path(@place), 
          :class => 'add_evaluation pull-right', 
          :title => t('app.common.add_evaluation_title', :place => @place[:name]) %>
      </h2>
      <p>
        <%= t('.filter_explanation') %>
      </p>
      <div class="row-fluid">
        <div class="span6">
          <div class="filter_box">
            <h3><%= label_tag :filter_certified, t('.header_filter_certified') %></h3>
            <select id="filter_certified" name="filter_certified" style="width: 100%">
              <option value="true" <%= cert_selected %> data-name="<%= t('.evaluations_certified') %>"
                title="<%= t('app.common.certified_explanation') %>">
                <%= t('.ddl_certified', :count => count_cert) %>              
                </option>
              <option value="false" <%= public_selected %> data-name="<%= t('.evaluations_public') %>"
                title="<%= t('app.common.public_explanation') %>">
                <%= t('.ddl_public', :count => count_public) %>
              </option>
            </select>
          </div>
        </div>
        <div class="span6">    
          <div class="filter_box">
            <h3><%= label_tag :filter_type, t('.header_filter_type') %></h3>
            <select id="filter_type" name="filter_type" style="width: 100%">
              <option value="0" selected="selected" id="filter-type-all"
                data-public="true" 
                data-certified="true"
                data-name="<%= t('.filter_type_all') %>"
                data-count-cert="<%= " (#{count_cert})" %>"
                data-count-public="<%= " (#{count_public})" %>"><%= "#{t('.filter_type_all')} (#{default_count})" %></option>
              <% @disabilities.each do |disability| %>
                <% 
                  count_cert = 0
                  count_public = 0
                  index_cert = @data[:certified][:disability_evaluations].index{|x| x[:id] == disability.id}
                  count_cert = @data[:certified][:disability_evaluations][index_cert][:evaluation_count] if index_cert.present?

                  index_public = @data[:public][:disability_evaluations].index{|x| x[:id] == disability.id}
                  count_public = @data[:public][:disability_evaluations][index_public][:evaluation_count] if index_public.present?

                  cls = 'class=accessibly-hidden'
                  default_count = 0
                  if disability.active_certified? && cert_selected.present?
                    cls = ''
                    default_count = count_cert
                  elsif disability.active_public? && public_selected.present?
                    cls = ''
                    default_count = count_public
                  end
                %>
                <option value="<%= disability.id %>" data-public="<%= disability.active_public %>" <%= cls %>
                  data-certified="<%= disability.active_certified %>"
                  data-name="<%= disability.name %>"
                  data-count-cert="<%= " (#{count_cert})" %>"
                  data-count-public="<%= " (#{count_public})" %>"><%= "#{disability.name} (#{default_count})" %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>    
    </div>    
    
    <div id="place-summary-container" aria-live="polite" aria-relevant="additions">
      <h3 title="<%= selection_header_title %>">
        <%= "#{selection_header_cert}: #{t('.filter_type_all')}" %>
      </h3>
      <div id="place-summary-loading"></div>      
      <%= render :partial => 'show_place_summary', :locals => {
          :data => @data[:certified], :is_certified => true, 
          :cert_text => t('app.common.certified'),
          :show_overall => cert_selected.present?
        } %>
      <%= render :partial => 'show_place_summary', :locals => {
          :data => @data[:public], :is_certified => false, 
          :cert_text => t('app.common.public'),
          :show_overall => public_selected.present?
        } %>
    </div>

  </div>
</div>



